div.bigcontainer{
    align-items: center;
    background-color: rgb(216, 238, 238);
}
div.body3{
    background-color: rgb(166, 227, 231);
}
div.body2{
    background-color: rgb(166, 227, 231);
}
div.body1{
    background-color: rgb(166, 227, 231);
}
div.carousel{
    margin: 90px;
}
div.footer{
    background-color: black;
    padding: 20px;
}
.phrase{
    text-align: center;
}
h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-size: medium;
}
.card{
    background-color: bisque;
}
form{
    margin-left: 30px;
}